#ftco-navbar {
    height: 60px !important;
}

body {
    color: black;
}

.AccountFunction {
    width: 100%;
    display: flex;
    background-color: #D0CECA;
    color: #000;
}

    .AccountFunction * {
        font-size: 24px;
    }

.AccountSearch,
.AccountCreate {
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
}

.AccountSearch {
    margin-left: 15px;
    margin-top: 50px;
}

.AccountCreate {
    margin-right: 15px;
    margin-top: 50px;
    justify-content: flex-end;
}

.AccountView {
    background-color: #D0CECA;
    width: 100%;
    height: 555px;
    display: flex;
    justify-content: center;
}

.AccountList {
    overflow-y: scroll;
    margin: 0 15px;
    background-color: #FDFCE5;
    width: 100%;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
}

    .AccountList::-webkit-scrollbar {
        width: 0px;
    }

table {
    width: 100%;
    border-collapse: collapse;
}

    table.List th,
    table.List td {
        text-align: center;
        padding: 8px;
        vertical-align: middle;
    }

thead th {
    position: sticky;
    top: 0;
    background-color: #cba570;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
}

th,
td {
    border: 1px solid #000;
    word-wrap: break-word;
}

    th:nth-child(1),
    td:nth-child(1) {
        width: 30px;
    }

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #FDFCE5;
    border: 1px solid #333;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

    .popup-header h3 {
        color: #000;
    }

.popup-close {
    cursor: pointer;
    font-size: 1.5em;
    color: #333;
}

.popup input[type="text"],
.popup input[type="password"],
.popup select {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

.footer {
    height: 15px;
    background-color: #D0CECA;
}