/* General Layout */
.foodrunner-view {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #D0CECA;
    padding: 20px;
    border-radius: 10px;
}

.view-left, .view-right {
    height: 100%;
    width: 48%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 55px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

/* Food Runner Section */
.foodrunner-account {
    text-align: center;
    margin-bottom: 20px;
    height: 20%;
}

    .foodrunner-account img.profile-img {
        position: absolute;
        top: 10px;
        left: 10px;
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%;
        border: 2px solid #000000;
    }

/* Items Table */
.table-detail {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-container {
    height: 35%;
}

.note-container {
    height: 25%;
}

.table-container {
    height: 40%;
}

.table-container, .note-container, .item-container {
    overflow-y: auto;
    scrollbar-width: none; /* For Firefox */
    border: 3px solid black;
    border-radius: 25px;
}

    .table-container::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000000;
    text-align: center;
    font-size: 20px;
    font-style: bold;
    color: #000000;
}

th {
    position: sticky;
    top: 0;
    background: #D0CECA;
}

tbody tr {
    height: 30px; /* Fixed height for rows */
}

.status-waiting {
    background-color: #bb5959cd;
}

.status-served {
    background-color: #57b361cd;
}

.status-empty {
    background-color: #adadadcd;
}
