@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";

}
<style>
    container-content{
        background-image: url('../images/anhnen.jpg');
    }
</style>

<div class="container-content" style="margin-top: 60px; background-image: url('../images/anhnen.jpg') !important;">

        <div class="sidebar">
            <nav>
                <ul class="menu">
                    <li class="active">
                    <a href="@Url.Action("Index", "Home", new { area = "Manager" })">
                        <i class="bi bi-credit-card"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                <li>
                    <a href="@Url.Action("AccountManagement1", "Home", new { area = "Manager" })">
                        <i class="fas fa-user"></i>
                        <span>Account</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("payHistory", "Home", new { area = "Manager" })">
                        <i class="bi bi-currency-exchange"></i>
                        <span>Pay History</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("MenuManager", "Home", new { area = "Manager" })">
                        <i class="bi bi-list"></i>
                        <span>Menu Manager</span>
                    </a>
                </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-user"></i>
                            <span> Manager</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-user"></i>
                            <span> Service(..)</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="gird-container">
            <div class="main-card">
                <div class="card">
                    <div class="card-inner">
                        <p>Purchase</p>
                        <i class="bi bi-cart"></i>
                    </div>
                </div>
                <div class="card">
                    <div class="card-inner">
                        <p>Revenue</p>
                        <i class="bi bi-graph-up"></i>
                    </div>
                </div>
                <div class="card">
                    <div class="card-inner">
                        <p>Pay History</p>
                        <i class="bi bi-currency-dollar"></i>
                    </div>
                </div>
                <div class="card">
                    <div class="card-inner">
                        <p>AccountList</p>
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                </div>
                <div class="card charts-card">
                    <div class="charts-card">
                        <p class="chart-title">Revenue vs Profit</p>
                        <div id="bar-chart" style="height: 300px" ;></div>
                    </div>
                    <div class="charts-card">
                        <p class="chart-title">Purchase and Sales Orders</p>
                        <div id="area-chart"></div>
                    </div>
                </div>
            </div>
        </div>
  </div>