
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
﻿<style>
         .text-center {
             overflow: auto;
             width: 100%;
         }
         .text-content{
             color: black;
         }
             /* Container styling for the menu */
     .MenuView {
         padding: 1rem;
     }

     .MenuList {
         overflow-x: auto; /* Allows horizontal scrolling for smaller screens */
     }

     /* Table styling */
     .List-Menu {
         width: 100%;
         border-collapse: collapse;
         margin-top: 1rem;
     }

     .List-Menu th, .List-Menu td {
         padding: 0.75rem;
         border: 1px solid #ddd;
         text-align: center;
     }

     .List-Menu th {
         background-color: rgba(113, 99, 186, 255);
         color: #fff;
         font-weight: bold;
         font-size: 1rem;
     }

     .List-Menu tbody td {
         background-color: #f9f9f9;
         font-size: 0.95rem;
     }

     /* Alternating row colors for better readability */
     .List-Menu tbody tr:nth-child(even) td {
         background-color: #f1f1f1;
     }
     /* Image styling for table cells */
     .item-image {
         width: 50px;
         height: 50px;
         border-radius: 5px;
     }

     #data td {
         color: black !important;
     }

</style>
<div class="container-content" style="margin-top : 37px">
    <div class="sidebar">
        <nav>
            <ul class="menu">
                <li>
                    <a href="@Url.Action("Index", "Home", new { area = "Manager" })">
                        <i class="bi bi-credit-card"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AccountManagement1", "Home", new { area = "Manager" })">
                        <i class="fas fa-user"></i>
                        <span>Account</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("payHistory", "Home", new { area = "Manager" })">
                        <i class="bi bi-currency-exchange"></i>
                        <span>Pay History</span>
                    </a>
                </li>
                <li class="active">
                    <a href="@Url.Action("MenuManager", "Home", new { area = "Manager" })">
                        <i class="bi bi-list"></i>
                        <span>Menu Manage</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-user"></i>
                        <span>Procedures</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-user"></i>
                        <span> Service(..)</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
    <div class="text-center">
        <section class="p-3">
            <div class="content-text"><h1 style="color: black;font-weight: bold;">MenuManagement</h1></div>
            <div class="col-12">
                <button class="btn btn-primary" data-toggle="modal" data-target="#ItemForm">New Item</button>

                <!--search-->
                <div class="group">
                    <svg viewBox="0 0 24 24" aria-hidden="true" class="search-icon">
                        <g>
                            <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                        </g>
                    </svg>

                    <input id="query"
                           class="input"
                           type="search"
                           placeholder="Search..."
                           name="searchbar" />
                </div>

            </div>
        </section>

        <div class="MenuView">
            <div class="MenuList">
                <table class="List-Menu">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Original Price</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="menuText" style="color: black !important" id="data">
                    </tbody>
                </table>
            </div>
        </div>
        <div id="pagination" class="mt-3"></div>
    </div>
</div>
<!-- add item-->
<div class="modal fade" id="ItemForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ItemFormLabel">Add Item</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" id="myForm">
                    <div class="inputField">
                        <div>
                            <label for="image">Image</label>
                            <input type="file" id="image" name="image" accept="image/*">
                            <br>
                            <img id="imagePreview" src="" alt="Image Preview" style="max-width: 100%; display: none;">
                        </div>
                        <div>
                            <label for="productName">Name</label>
                            <input type="text" id="productName" name="productName">
                        </div>
                        <div>
                            <label for="category">Category</label>
                            <select id="category" name="category">
                                <option value="Pizza">Pizza</option>
                                <option value="Pasta">Pasta</option>
                                <option value="Drink">Drink</option>
                                <option value="Salad">Salad</option>
                                <option value="Burgers">Burgers</option>
                            </select>
                        </div>
                        <div>
                            <label for="originalPrice">Original Price</label>
                            <input type="text" id="originalPrice" name="price">
                            <span id="originalPriceError" style="color: red; display: none;">Original price cannot be greater than selling price.</span>
                        </div>
                        <div>
                            <label for="price">Price</label>
                            <input type="text" id="price" name="price">
                            <span id="priceError" style="color: red; display: none;">Selling price cannot be less than or equal to zero.</span>
                        </div>
                        <div>
                            <label for="description">Description</label>
                            <textarea id="description" name="description" rows="5" cols="57"></textarea>
                        </div>
                        <div>
                            <label for="status">Status</label>
                            <select id="status" name="status">
                                <option value="Still">Still</option>
                                <option value="Sold Out">Sold Out</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-warning" id="submitBtn">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Read Supply Form -->
<div class="modal fade" id="readData">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Supply Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" id="viewForm">
                    <div class="inputField">
                        <div>
                            <label for="productNameView">Product Name</label>
                            <input type="text" id="productNameView" disabled>
                        </div>
                        <div>
                            <label for="categoryView">Category</label>
                            <input type="text" id="categoryView" disabled>
                        </div>
                        <div>
                            <label for="originalPriceView">Original Price</label>
                            <input type="text" id="originalPriceView" disabled>
                        </div>
                        <div>
                            <label for="suggestedPriceView">Suggested Price</label>
                            <input type="text" id="suggestedPriceView" disabled>
                        </div>
                        <div>
                            <label for="descriptionView">Description</label>
                            <input type="text" id="descriptionView" disabled>
                        </div>
                        <div>
                            <label for="statusView">Status</label>
                            <input type="text" id="statusView" disabled>
                        </div>
                        <div>
                            <label for="imagePreviewView">Image</label>
                            <img id="imagePreviewView" src="" alt="Image Preview" style="width: 200px; height: auto; display: none;">
                        </div>
                        <div>
                            <label for="itemIdView">Item ID</label>
                            <input type="text" id="itemIdView" disabled>
                        </div>
                        <div>
                            <label for="isServedView">Is Served</label>
                            <input type="text" id="isServedView" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal để cập nhật món ăn -->
<div class="modal fade" id="updateItemForm" tabindex="-1" aria-labelledby="updateItemFormLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateItemFormLabel">Update Item</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateMenuForm" onsubmit="updateMenu(event)">
                    <input type="hidden" id="itemIdUpdate"> <!-- Trường ẩn chứa itemId -->
                    <div class="inputField">
                        <div>
                            <label for="imageUpdate">Image</label>
                            <input type="file" id="imageUpdate" name="imageUpdate" accept="image/*">
                            <br>
                            <img id="imagePreviewUpdate" src="" alt="Image Preview" style="max-width: 100%; display: none;">
                        </div>
                        <div>
                            <label for="productNameUpdate">Name</label>
                            <input type="text" id="productNameUpdate" name="productNameUpdate">
                        </div>
                        <div>
                            <label for="categoryUpdate">Category</label>
                            <select id="categoryUpdate" name="categoryUpdate">
                                <option value="Pizza">Pizza</option>
                                <option value="Pasta">Pasta</option>
                                <option value="Drink">Drink</option>
                                <option value="Salad">Salad</option>
                                <option value="Burgers">Burgers</option>
                            </select>
                        </div>
                        <div>
                            <label for="originalPriceUpdate">Original Price</label>
                            <input type="text" id="originalPriceUpdate" name="originalPriceUpdate">
                            <span id="originalPriceErrorUpdate" style="color: red; display: none;">Original price cannot be greater than selling price.</span>
                        </div>
                        <div>
                            <label for="priceUpdate">Price</label>
                            <input type="text" id="priceUpdate" name="priceUpdate">
                            <span id="priceErrorUpdate" style="color: red; display: none;">Selling price cannot be less than or equal to zero.</span>
                        </div>
                        <div>
                            <label for="descriptionUpdate">Description</label>
                            <textarea id="descriptionUpdate" name="descriptionUpdate" rows="5" cols="57"></textarea>
                        </div>
                        <div>
                            <label for="isServedUpdate">Is Served</label>
                            <select id="isServedUpdate" name="isServedUpdate">
                                <option value="1">Complete</option>
                                <option value="0">Not Done</option>
                            </select>
                        </div>
                        <div>
                            <label for="statusUpdate">Status</label>
                            <select id="statusUpdate" name="statusUpdate">
                                <option value="Still">Still</option>
                                <option value="Sold Out">Sold Out</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" id="updateBtn">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

