@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Food_Runner/Views/Shared/_Layout.cshtml";
}
<link href="~/css/FoodRunner.css" rel="stylesheet" />

<body>
    <div class="foodrunner-view row">

        <div class="view-left">
            <div class="foodrunner-account ftco-animate">
                <div class="vcard bio">
                    <img src="${profileImage}" alt="Profile" class="profile-img">
                </div>
                <div class="foodrunner-header">
                    <h1>Food Runner</h1>
                    <div class="User " id="name"></div>
                </div>
            </div>

            <div class="table-detail ftco-animate">

                <h2 class="ftco-animate">Items</h2>

                <table class="item-container">
                    <tbody class="table-detail-item ftco-animate" id="table-detail-item">
                        <!-- Item rows will be dynamically inserted here -->
                    </tbody>
                </table>

                <h2 class="ftco-animate">Note</h2>

                <table class="note-container">
                    <tbody class="table-detail-note ftco-animate" id="table-detail-note">
                        <!-- Note will be dynamically inserted here  -->
                    </tbody>
                </table>

            </div>
        </div>

        <div class="view-right">
            <h2>Table Orders</h2>

            <div class="table-container view-table-container ftco-animate">
                <table>
                    <thead>
                        <tr>
                            <th>Table</th>
                            <th>Status</th>
                            <th style="display: none;">Bill</th>
                        </tr>
                    </thead>
                    <tbody class="ftco-animate" id="table-body">
                        <!-- Table orders will be dynamically inserted here -->
                    </tbody>
                </table>
            </div>

            <h2>Online Orders</h2>

            <div class="table-container view-online-container ftco-animate">
                <table>
                    <thead>
                        <tr>
                            <th>Table</th>
                            <th>Status</th>
                            <th style="display: none;">Bill</th>
                        </tr>
                    </thead>
                    <tbody class="ftco-animate" id="online-body">
                        <!-- Online orders will be dynamically inserted here -->
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="footer"></div>
</body>