@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/EditProfile.css" rel="stylesheet" />

@model ZestyBiteWebAppSolution.Models.DTOs.ChangePwdDTO

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post)) {
    <div class="container form-config" style="width: 50% !important">
        <div class="row no-gutters row-bordered row-border-light" style="padding: 100px">
            <div class="col-12 col-md-9 text-primary">
                <div class="card-body pb-2">

                    @if (TempData["ErrorMessage"] != null) {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    @if (TempData["SuccessMessage"] != null) {
                        <div class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }

                    <div class="form-group">
                        <label class="form-label">Current password</label>
                        <input type="password" asp-for="OldPassword" class="form-control" placeholder="Old password" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">New password</label>
                        <input type="password" asp-for="NewPassword" class="form-control" placeholder="New password" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Repeat new password</label>
                        <input type="password" asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm new password" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div class="text-right mt-3">
                        <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
                        <button type="button" class="btn btn-default" onclick="location.reload()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}