@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ZestyBiteWebAppSolution.Models.DTOs.RegisterDTO

<head>
    <link href="~/css/signup.css" rel="stylesheet" />
</head>

<body>
    <div class="form-config" style="padding-top: 100px">
        <div class="media d-block services"
             style="width: auto; display: flex; align-items: center; justify-content: center; padding-top: 25px;">
            <div class="icon d-flex justify-content-center align-items-center mb-5">
                <span class="flaticon-pizza-1"></span>
            </div>
        </div>
        <div class="heading-txt">
            <h3 class="mb-8" style="color: orange; text-align: center; margin-bottom: 2rem !important">
                CREATE AN ACCOUNT
            </h3>
        </div>

        <form asp-action="Register" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-info"
                 style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">

                <div class="info-top">
                    <div class="info-left">
                        <div class="in-info">
                            <h5>UserName:</h5>
                            <div class="mb-3">
                                <input asp-for="Username" style="text-align: left;" type="text"
                                       class="form-control" placeholder="Username" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="in-info">
                            <h5>Phone Number:</h5>
                            <div class="mb-3">
                                <input asp-for="PhoneNumber" style="justify-content: left; text-align: left;" type="tel"
                                       class="form-control" placeholder="PhoneNumber" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="in-info">
                            <h5>Email:</h5>
                            <div class="mb-3">
                                <input asp-for="Email" style="text-align: left;" type="email"
                                       class="form-control" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="in-info">
                            <h5>Password:</h5>
                            <div class="mb-3">
                                <input asp-for="Password" style="text-align: left;"
                                       type="password" class="form-control" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="info-right">

                        <div class="in-info">
                            <h5>Name:</h5>
                            <div class="mb-3">
                                <input asp-for="Name" style="text-align: left;" type="text"
                                       class="form-control" placeholder="FullName">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="in-info">
                            <h5>Adress:</h5>
                            <div class="mb-3">
                                <input asp-for="Address" style="text-align: left;" type="text"
                                       class="form-control" placeholder="Address">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="in-info">
                            <h5>Gender:</h5>
                            <select asp-for="Gender"
                                    style="width: 200px; height: 40px; margin-bottom: 40px; transform: translateY(10px)">
                                <option value="0">Female</option>
                                <option value="1">Male</option>
                                <option value="2">Other</option>
                            </select>
                        </div>

                        <div class="in-info">
                            <h5>Confirm Password:</h5>
                            <div class="mb-3">
                                <input asp-for="ConfirmPassword" style= "text-align: left;"
                                       type="password" class="form-control" placeholder="ConfirmPassword" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-info" style="text-align: center;" id="submit">
                <input type="submit" value="Register" class="btn btn-primary py-3 px-4"
                       style="width: 150px; font-size: 15px;">
            </div>

            <p class="text-center mt-2" style="transform: translateY(5px)">
                Already have an account? <a asp-controller="Account" asp-action="Login"
                                            class="text-decoration-none">Login</a>
            </p>
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back to home</a>
            </div>
            <input asp-for="RoleDescription" style="display: none" type="text"
                   class="form-control" placeholder="roledesc" value="null" />
        </form>
    </div>
</body>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}
