@{
    ViewBag.Title = "Server";
    Layout = "~/Areas/Server_Staff/Views/Shared/_Layout.cshtml";
}
<head> 
    <link href="~/Content/css/server_table.css" rel="stylesheet" />
</head>

<body id="body-config">

    <!-- Middle Part -->
    <div class="middle">
        <div class="top-middle">
            <div class="avt">
                <img alt="">
            </div>
            <div class="avt-name">
                <p><b>Nguyen Bao<br>Server</b></p>
            </div>
        </div>
        <div class="bot-middle" style="align-items: center;">
            <div class="heading-txt">
                <p>Menu</p>
            </div>
            <div class="tab-config">
                <button class="tablink" onclick="openPage('All', this, 'yellow')" id="defaultOpen"
                        style="color: black;">
                    All
                </button>
                <button class="tablink" onclick="openPage('Main', this, 'red')">Main</button>
                <button class="tablink" onclick="openPage('FruitnSalad', this, 'green')">Light</button>
                <button class="tablink" onclick="openPage('DrinknDessert', this, 'blue')">Sides</button>

                <div id="All" class="tabcontent" style="color: black;">
                    <div class="detailcontent">
                        <table class="menu-content" style="overflow: auto;">
                            <thead>
                                <tr>
                                    <td class="t-index">Index</td>
                                    <td class="t-name">Name</td>
                                    <td class="t-update">Modification</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="detailcontent" style="height: 180px; overflow: auto;">
                        <table class="menu-content" style="overflow: auto;">
                            <tbody>
                                <tr>
                                    <td class="t-index">
                                        01
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        02
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        03
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        04
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        05
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        06
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="Main" class="tabcontent">
                    <div class="detailcontent">
                        <table class="menu-content" style="overflow: auto;">
                            <thead>
                                <tr>
                                    <td class="t-index">Index</td>
                                    <td class="t-name">Name</td>
                                    <td class="t-update">Modification</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="detailcontent" style="height: 180px; overflow: auto;">
                        <table class="menu-content" style="overflow: auto;">
                            <tbody>
                                <tr>
                                    <td class="t-index">
                                        01
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        02
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        03
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        04
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        05
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        06
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="FruitnSalad" class="tabcontent">
                    <div class="detailcontent">
                        <table class="menu-content" style="overflow: auto;">
                            <thead>
                                <tr>
                                    <td class="t-index">Index</td>
                                    <td class="t-name">Name</td>
                                    <td class="t-update">Modification</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="detailcontent" style="height: 180px; overflow: auto;">
                        <table class="menu-content" style="overflow: auto;">
                            <tbody>
                                <tr>
                                    <td class="t-index">
                                        01
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        02
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        03
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        04
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        05
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        06
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="DrinknDessert" class="tabcontent">
                    <div class="detailcontent">
                        <table class="menu-content" style="overflow: auto;">
                            <thead>
                                <tr>
                                    <td class="t-index">Index</td>
                                    <td class="t-name">Name</td>
                                    <td class="t-update">Modification</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="detailcontent" style="height: 180px; overflow: auto;">
                        <table class="menu-content" style="overflow: auto;">
                            <tbody>
                                <tr>
                                    <td class="t-index">
                                        01
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        02
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        03
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        04
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        05
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-index">
                                        06
                                    </td>
                                    <td class="t-name">
                                        Pizza dua hot dog thap cam
                                    </td>
                                    <td class="t-update">
                                        <div class="styleQuantity">
                                            <div class="t-less">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div class="t-more">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- <div class="table-label"> -->
            <!-- <div class="table-config"> -->
            <!-- <div class="table-content"> -->
        </div>
    </div>

    <hr class="div-space">

    <div class="detail-order">
        <div class="heading-bot">
            Order
        </div>
        <div class="table-info">
            <div class="left-info">
                <div class="attr-filt">Table</div>
                <div class="table-index" style="width: 60%;">
                    <select name="table-number" id="itable">
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                    </select>
                </div>
            </div>
            <div class="right-info">
                <div class="attr-filt">Status</div>
                <div class="table-status" style="width: 60%;">
                    <select name="table-status" id="tstatus">
                        <option value="1">Served</option>
                        <option value="0">Empty</option>
                        <option value="3">Waiting</option>
                        <option value="2">Deposit</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="detail-cover">
            <div class="detail-info">
                <div class="detail-head">
                    <table style=" width: 100%;">
                        <thead style="width: 100%;">
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">
                                    Status
                                </td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="detail-body">
                    <table style="width: 100%; color: white;">
                        <tbody>
                            <tr>
                                <td class="d-index">1</td>
                                <td class="d-name">
                                    akldksahdsajlkhdlaskjdhlajksdhasujdhasduasdl
                                </td>
                                <td class="d-origin">12</td>
                                <td class="d-status">Servering</td>
                                <td class="d-quantity">12</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">
                                    Status
                                </td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                            <tr>
                                <td class="d-index">Index</td>
                                <td class="d-name">Name</td>
                                <td class="d-origin">Origin</td>
                                <td class="d-status">Status</td>
                                <td class="d-quantity">Quantity</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="note-info">
                <textarea name="noting" id="note"
                          style="height: 120px; width: 100%; margin-top: 12px; text-align: center;"
                          placeholder="Typing notes..."></textarea>
            </div>
        </div>
    </div>
    <hr class="div-space">
    <div class="btn-config">
        <div class="update-btn"><button>Update</button></div>
        <div class="remove-btn"><button>Delete</button></div>
        <!-- <div class="view-btn"><button>View</button></div> -->
        <!-- <div class="add-btn"><button>Create</button></div> -->
    </div>

    <!-- Done Middle Part -->
    <script>
        function openPage(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";

            // Add the specific color to the button used to open the tab content
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();

    </script>
</body>