@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/paymment.css" rel="stylesheet" />
<div class="middle-part">
    <div class="center-middle">
        <div class="half-left">

            <div class="bank-qr">
                <div style="display: flex; flex-direction: column-reverse;justify-content: space-evenly;">
                    <div class="qr-code">
                        <img src="" alt="yt_music" style="height: 100%;">
                    </div>
                    <div class="qr-info">
                        <p>
                            <b>Viettinbank - 106873586585</b><br>
                            <b>Nguyen Manh Tan Huynh</b>
                        </p>
                    </div>
                </div>

            </div>
            <br><br>
            <div class="cmt">
                Please use your bill as a proof for your payment<br>
                when our shipper arrived.<br>
                Enjoy your meals!
            </div>
        </div>
        <div class="half-right">
            <div class="right-top">
                <div class="right-top-in-div">
                    <table class="table-config">
                        <tr>
                            <th>Index</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="right-center">
                <div>
                    <table class="middle-table">
                        <tr class="hide-head">
                            <th>Index</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Pizza</td>
                            <td>2</td>
                            <td>22$</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Pizza</td>
                            <td>2</td>
                            <td>22$</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Pizza</td>
                            <td>2</td>
                            <td>22$</td>
                        </tr>

                        <tr style="opacity: 0%; height: 0%;">
                            <th>Index</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="right-bottom">
                <div>
                    <table class="table-config">
                        <tr>
                            <th>Total item: 10</th>
                            <th>Total cost: 200$</th>
                            <th>
                                <a href="" target="_blank">Pay</a>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="foot-middle" style="display: none;"></div>
</div>
<div class="footer" style="background-color: burlywood; height: 100px; width:auto; display: none;"></div>
<!-- Done Middle Part -->