<li class="nav-item" id="cart-container">
    <a href="@Url.Action("ShoppingCart", "Cart")" class="nav-link" style="transform: translateX(-15px)"; text-align: center">
        <i class="fas fa-shopping-cart"></i>
    </a>
</li>
