@{
    ViewBag.Title = "BookTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/ShoppingCart.css" rel="stylesheet"/>

<body id="body-config">
    <div class="middle-part">
        <div class="middle-top">
            <div class="heading-text">
                <b>On going DISCOUNT!!!</b>
            </div>
        </div>
        <div class="middle-bottom">
            <div class="table-top">
                <table class="table-cart">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Items</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <tr>
                            <td id="index">1</td>
                            <td id="itemPic">
                                <div class="picDiv">
                                    <img src="~/images/burger-1.jpg" alt="burger-1" class="pic">
                                </div>
                                <div class="itemName">Pizza</div>
                            </td>
                            <td id="itemPrice">22$</td>
                            <td>
                                <div class="styleQuantity">
                                    <div class="dropQuantity"><i class="fa-solid fa-minus"></i></div>
                                    <p class="item-quantity">2</p>
                                    <div class="addQuantity"><i class="fa-solid fa-plus"></i></div>
                                </div>
                            </td>
                            <td class="sumAmount">44$</td>
                        </tr>
                        <tr>
                            <td id="index">1</td>
                            <td id="itemPic">
                                <div class="picDiv">
                                    <img src="~/images/burger-1.jpg" alt="burger-1" class="pic">
                                </div>
                                <div class="itemName">Pizza</div>
                            </td>
                            <td id="itemPrice">22$</td>
                            <td>
                                <div class="styleQuantity">
                                    <div class="dropQuantity"><i class="fa-solid fa-minus"></i></div>
                                    <p class="item-quantity">2</p>
                                    <div class="addQuantity"><i class="fa-solid fa-plus"></i></div>
                                </div>
                            </td>
                            <td class="sumAmount">44$</td>
                        </tr>
                        <tr>
                            <td id="index">1</td>
                            <td id="itemPic">
                                <div class="picDiv">
                                    <img src="~/images/burger-3.jpg" alt="burger-1" class="pic">
                                </div>
                                <div class="itemName">Pizza</div>
                            </td>
                            <td id="itemPrice">22$</td>
                            <td>
                                <div class="styleQuantity">
                                    <div class="dropQuantity"><i class="fa-solid fa-minus"></i></div>
                                    <p class="item-quantity">2</p>
                                    <div class="addQuantity"><i class="fa-solid fa-plus"></i></div>
                                </div>
                            </td>
                            <td class="sumAmount">44$</td>
                        </tr>
                        <tr>
                            <td id="index">1</td>
                            <td id="itemPic">
                                <div class="picDiv">
                                    <img src="~/images/burger-2.jpg" alt="burger-1" class="pic">
                                </div>
                                <div class="itemName">Pizza</div>
                            </td>
                            <td id="itemPrice">22$</td>
                            <td>
                                <div class="styleQuantity">
                                    <div class="dropQuantity"><i class="fa-solid fa-minus"></i></div>
                                    <p class="item-quantity">2</p>
                                    <div class="addQuantity"><i class="fa-solid fa-plus"></i></div>
                                </div>
                            </td>
                            <td class="sumAmount">44$</td>
                        </tr>
                        <tr>
                            <td id="index">1</td>
                            <td id="itemPic">
                                <div class="picDiv">
                                    <img src="~/images/burger-1.jpg" alt="burger-1" class="pic">
                                </div>
                                <div class="itemName">Pizza</div>
                            </td>
                            <td id="itemPrice">22$</td>
                            <td>
                                <div class="styleQuantity">
                                    <div class="dropQuantity"><i class="fa-solid fa-minus"></i></div>
                                    <p class="item-quantity">2</p>
                                    <div class="addQuantity"><i class="fa-solid fa-plus"></i></div>
                                </div>
                            </td>
                            <td class="sumAmount">44$</td>
                        </tr>
                        <tr>
                            <td id="index">1</td>
                            <td id="itemPic">
                                <div class="picDiv">
                                    <img src="~/images/burger-2.jpg" alt="burger-1" class="pic">
                                </div>
                                <div class="itemName">Pizza</div>
                            </td>
                            <td id="itemPrice">22$</td>
                            <td>
                                <div class="styleQuantity">
                                    <div class="dropQuantity"><i class="fa-solid fa-minus"></i></div>
                                    <p class="item-quantity">2</p>
                                    <div class="addQuantity"><i class="fa-solid fa-plus"></i></div>
                                </div>
                            </td>
                            <td class="sumAmount">44$</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="under-table">
            <table class="calculate">
                <thead>
                    <tr>
                        <th>
                            <div id="itemNumbers">
                                Total items: 6
                            </div>
                        </th>
                        <th>
                            <div id="totalMoney">
                                Total Amount: 100$
                            </div>
                        </th>
                        <th class="confirmPay">
                            <div>
                                Payment
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>