@{
    ViewBag.Title = "BookTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/BookTable.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="reservation">
        <div class="all-floor" style="display: flex; flex-direction: column">
            <h3>Floor 1</h3>
            <div class="floor" id="floor1">
                <button class="table" style="opacity: 0.1">0</button>
                <button class="table">1</button>
                <button class="table">2</button>
                <button class="table">3</button>
                <button class="table">4</button>
                <button class="table" style="opacity: 0.1">0</button>
                <button class="table">5</button>
                <button class="table">6</button>
                <button class="table">7</button>
                <button class="table">8</button>
                <button class="table">9</button>
                <button class="table">10</button>
            </div>
            <h3>Floor 2</h3>
            <div class="floor" id="floor2">
                <button class="table">11</button>
                <button class="table">12</button>
                <button class="table">13</button>
                <button class="table">14</button>
                <button class="table">15</button>
                <button class="table">16</button>
                <button class="table">17</button>
                <button class="table">18</button>
                <button class="table">19</button>
                <button class="table">20</button>
            </div>
        </div>
    </div>

    <div class="modal" id="reservationModal">
        <h2>Reservation</h2>
        <label for="date">Ngày:</label>
        <input type="date" id="dateModal" value="2024-10-08">
        <label for="time">Giờ:</label>
        <input type="time" id="timeModal" value="16:45">
        <button id="agree">Agree</button>
    </div>

    <div id="reservationPopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <h2 style="color: black; text-align: center;">Reservation</h2>

            <div class="form-container">
                <div class="column">
                    <div class="input-container">
                        <ion-icon name="location-outline" class="icon"></ion-icon>
                        <select class="sDeliveryAddress" style="width: 66%; text-align: center">
                        </select>
                    </div>

                    <div class="input-container">
                        <ion-icon name="calendar-outline" class="icon"></ion-icon>
                        <input type="date" id="datePopup" style="width: 66%; text-align: center" value="2024-10-08">
                    </div>
                </div>


                <div class="column1">
                    <div class="input-container" style="display: flex; width: 100%; justify-content: space-between">
                        <select class="reservationPopup" style="width: 80%; text-align: center">
                        </select>
                        <ion-icon name="grid-outline" class="icon"></ion-icon>
                    </div>
                    <div class="input-container" style="display: flex; width: 100%; justify-content: space-between">
                        <input type="time" id="timePopup" value="16:45" style="width: 80%; text-align: center">
                        <ion-icon name="time-outline" class="icon"></ion-icon>
                    </div>
                </div>
            </div>

            <button id="checkAvailability" class="agree-button">Agree</button>
            <p id="availabilityMessage"></p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/BookTable.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>