@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

Now is the new counter embed?

<Counter IncrementAmount="217" />

@* <Counter @rendermode="InteractiveServer" /> *@