@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home-slider owl-carousel img" style="background-image: url(/images/bg_1.jpg);">
    <div class="slider-item" style="background-image: url(/images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">About</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("Index", "Home")">Home</a></span></p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url(/images/about.jpg);"></div>
    <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate">
            <h2 class="mb-4">Welcome to <span class="flaticon-pizza">Pizza</span> A Restaurant</h2>
        </div>
        <div>
            <p>Welcome to our little slice of heaven! At Pizza A Restaurant, we blend tradition with innovation to bring you a dining experience unlike any other. From our hand-tossed pizzas to our gourmet ingredients, every bite tells a story of passion and dedication. Join us and taste the difference!</p>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Meet Our Chefs</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                <p class="mt-5">Our team of talented chefs is dedicated to crafting culinary masterpieces that delight your taste buds. Far from the ordinary, each dish is prepared with the finest ingredients and a touch of love. Discover the artistry behind our flavors.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="img mb-4" style="background-image: url(/images/person_1.jpg);"></div>
                    <div class="info text-center">
                        <h3>Tom Smith</h3>
                        <span class="position">Head Chef</span>
                        <div class="text">
                            <p>Tom brings a wealth of experience and a passion for culinary excellence. His innovative approach to traditional dishes is sure to impress.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="img mb-4" style="background-image: url(/images/person_2.jpg);"></div>
                    <div class="info text-center">
                        <h3>Mark Wilson</h3>
                        <span class="position">Sous Chef</span>
                        <div class="text">
                            <p>Mark's keen eye for detail and dedication to quality make him an indispensable part of our kitchen team.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="img mb-4" style="background-image: url(/images/person_3.jpg);"></div>
                    <div class="info text-center">
                        <h3>Patrick Jacobson</h3>
                        <span class="position">Pastry Chef</span>
                        <div class="text">
                            <p>Patrick's skill in creating delightful desserts will satisfy your sweet tooth and leave you craving more.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="img mb-4" style="background-image: url(/images/person_4.jpg);"></div>
                    <div class="info text-center">
                        <h3>Ivan Dorchsner</h3>
                        <span class="position">Grill Master</span>
                        <div class="text">
                            <p>Ivan's expertise in grilling brings out the best flavors in our meats, making every bite a savory delight.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>