<li class="nav-item" id="search-container">
    <form action="" id="search-box">
        <input type="text" placeholder="Search..." id="search-text" />
        <button id="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</li>
